*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100vh;
}
.home{
    height: 100%;
    background-image: url("../photos/Path1.png");
    background-repeat: no-repeat;
    background-size: contain;
}
}
#logo{grid-area: logo;}
#inputfield{grid-area: input;}
#navi{grid-area: navi;}

.grid-container{
    display: grid;
    grid-template-areas:'logo input input input input navi';
    
}
/* logo */
#logo{
    margin: 20px 60px;
    display: flex;
}
#logo a{
    font-family: 'Fredoka One', cursive;
    color: rgb(31, 31, 28);
    font-size: 1.5em;
    text-decoration: none;   
}


/* search-bar */
form{
    top:20px;
    position: relative;
    text-align: center;
}
input[type="text"]{
    background-color: rgba(170, 169, 169, 0.253);
    border: none;
    width: 400px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
}
input[type="text"]::placeholder{
    text-align: center;
    font-size: 18px;
}

/* content */
.title{grid-area:title;}
.slogan{grid-area: slogan;}
.photos{grid-area:photos;}
.button{grid-area: button;}

.content{
    margin-top: 130px;
    margin-left: 60px;
    display: grid;
    grid-template-areas: 'title title title photos photos photos'
                        'slogan slogan slogan photos photos photos'
                        'button button button button button button';
}
.content div{
    text-align: left;
    padding: 20px 0;
}
.content img{
    height:200px;
    width:300px;
    border-radius:10px ;
    box-shadow: 0 3px 6px 0 black;
}
.img1{
    opacity: 0.6;
    position: absolute;
    animation: flyin 3s ease-in-out;
    
}

.img2{
    opacity: 0.75;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    animation: flyin 4s ease-in-out;
    
}
.img3{
    opacity: 0.8;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    animation: flyin 5s ease-in-out;
   
}
.img4{
    opacity: 0.9;
    position: absolute;
    margin-top: 150px;
    margin-left: 150px;
    animation: flyin 6s ease-in-out;
    
} 
#explore{
    margin-top: 80px;
    animation: float 5s ease-in infinite;

}
.button{
    
    font-size:18px;
    color: black;
    text-decoration: none;
    padding: 10px ;
    text-align: center;
    margin-left: 60px;
    border-radius: 10px;
    background-color: rgba(53, 56, 57, 0.6);
    box-shadow: 0 4px 6px 0 rgb(99, 89, 89);
   
}
.button:hover{
   
    box-shadow: 0 6px 8px 0 rgb(99, 89, 89);
}
/* category bar */
.category{
    margin: 3rem 1rem;
    padding: 1.5rem;
    
    display:flex;
    align-items: center;
}
.category > ul {
    margin : 0 1rem;
    display: flex;
    width:100%;
    white-space: nowrap;
    overflow-x : hidden;

}

.category > ul > li {
    list-style-type: none;
    margin:0 3rem 0 0;
}
.category > ul > li > button {
    color : #000000;
    font-size: 1rem;
    width : 150px;
    padding: 0.8rem;
    border:none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}
.category > ul > li > button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.category-btn1{
    background-color: #D3C09A;
}
.category-btn2{
    background-color: #CAD39A;
}
.category-btn3{
    background-color: #E8DED2;
}
.category-btn4{
    background-color: rgba(109, 132, 123, 0.6);
}
.category-btn5{
    background-color: rgba(148,145,143, 0.6);
}
.category-btn6{
    background-color: #CAD39A;
}

.left-scroll,.right-scroll {
    
    font-size: 1.5rem;
    color :#000000;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
   
}

/* end */
/* photo layout */
.photo-content-container{
    margin: 5rem 0 0 0;
}
.photo-layout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(8,30vh);
    grid-gap : 1rem;
    margin: 0 1rem 0 1rem;
}
.image-property {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_one {
   grid-row: 1 / 3;
}
.img_two {
   grid-row: 3 / 7;
}
.img_three {
    grid-row: 1 / 5;
}
.img_four {
    grid-row: 5 / 7;
}
.img_five {
   grid-row: 1 / 4;
}
.img_six {
  grid-row: 4 / 7;
}
.img_seven {
    grid-row: 7 / 9;
    grid-column: 1 / 3;
}
.img_eight {
   grid-row: 7 / 9;
}

/* end */

/* adding icons and download */
figure{
    position: relative;
   
}

figcaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    padding: 0 0.6rem 0 0.6rem;
    background-color:rgba(0, 0, 0, 0.3);
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    visibility: hidden;
 
}
.makeVisible {
    visibility: visible;
}

figcaption > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
}
figcaption > div > img {
    margin-right: 0.7rem;
}
figcaption > div > label {
    font-size: 1rem;
    color: #FFFFFF;
    cursor: pointer;
}

.user_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.download-btn {
    background-color: #F4F2F1;
    color:#918b8b;
    cursor: pointer;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    border: none;
    border-radius: 2px;
    
}
.download-btn > i {
    font-size: 1rem;
}
.download-btn:hover {
    color: #000000;
    background-color: #d3d3d3;
}
.top-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    
}

/* end */

