*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    height: 100vh;
}
.home{
    height: 100%;
    background-image: url("../photos/Path1.png");
    background-repeat: no-repeat;
    background-size: contain;
}
}
#logo{grid-area: logo;}
#inputfield{grid-area: input;}
#navi{grid-area: navi;}

.grid-container{
    display: grid;
    grid-template-areas:'logo input input input input navi';
    
}
/* logo */
#logo{
    margin: 20px 60px;
    display: flex;
}
#logo a{
    font-family: 'Fredoka One', cursive;
    color: rgb(31, 31, 28);
    font-size: 1.5em;
    text-decoration: none;   
}
/* navbar */
nav{
    top: 20px;
    position: relative;
    
    
}
nav a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 10px 14px;
}
nav a:hover{
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 black;
    background-color: rgba(65, 74, 76, 0.6);
}

/* end-navbar */

/* search-bar */
form{
    top:20px;
    position: relative;
    text-align: center;
}
input[type="text"]{
    background-color: rgba(170, 169, 169, 0.253);
    border: none;
    width: 400px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
}
input[type="text"]::placeholder{
    text-align: center;
    font-size: 18px;
}

/* content */
.title{grid-area:title;}
.slogan{grid-area: slogan;}
.photos{grid-area:photos;}
.button{grid-area: button;}

.content{
    margin-top: 130px;
    margin-left: 60px;
    display: grid;
    grid-template-areas: 'title title title photos photos photos'
                        'slogan slogan slogan photos photos photos'
                        'button button button button button button';
}
.content div{
    text-align: left;
    padding: 20px 0;
}
.content img{
    height:200px;
    width:300px;
    border-radius:10px ;
    box-shadow: 0 3px 6px 0 black;
}
.img1{
    opacity: 0.6;
    position: absolute;
    animation: flyin 3s ease-in-out;
    
}

.img2{
    opacity: 0.75;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    animation: flyin 4s ease-in-out;
    
}
.img3{
    opacity: 0.8;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    animation: flyin 5s ease-in-out;
   
}
.img4{
    opacity: 0.9;
    position: absolute;
    margin-top: 150px;
    margin-left: 150px;
    animation: flyin 6s ease-in-out;
    
} 
#explore{
    margin-top: 80px;
    animation: float 5s ease-in infinite;

}
.button{
    
    font-size:18px;
    color: black;
    text-decoration: none;
    padding: 10px ;
    text-align: center;
    margin-left: 60px;
    border-radius: 10px;
    background-color: rgba(53, 56, 57, 0.6);
    box-shadow: 0 4px 6px 0 rgb(99, 89, 89);
   
}
.button:hover{
   
    box-shadow: 0 6px 8px 0 rgb(99, 89, 89);
}
/* photo layout */
.column{
    float: left;
    width: 33%;
    padding: 10px;
}
.column img{
    box-shadow: 0px 4px 6px 0px gray;
    width: 100%;
    margin-top: 12px;  
}
.row:after{
        content: "";
        display: table;
        clear: both;
}
/* animations */
/* @keyframes flyin{
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
} */

